<div class="section">
  <h5><i class="material-icons">edit</i> SOP Content</h5>

  <textarea class="materialize-textarea" x-model="sections.purpose"></textarea>
  <label class="active">Purpose</label>

  <textarea class="materialize-textarea" x-model="sections.scope"></textarea>
  <label class="active">Scope</label>

  <textarea class="materialize-textarea" x-model="sections.procedure"></textarea>
  <label class="active">Procedure</label>

  <textarea class="materialize-textarea" x-model="sections.precautions"></textarea>
  <label class="active">Precautions</label>
</div>