<div class="card">
  <div class="card-content">
    <span class="card-title">
      <i class="material-icons">edit</i> SOP Content
    </span>

    <textarea class="materialize-textarea" x-model="sections.purpose"></textarea>
    <label class="active">Purpose</label>

    <textarea class="materialize-textarea" x-model="sections.scope"></textarea>
    <label class="active">Scope</label>

    <textarea class="materialize-textarea" x-model="sections.procedure"></textarea>
    <label class="active">Procedure</label>

    <textarea class="materialize-textarea" x-model="sections.precautions"></textarea>
    <label class="active">Precautions</label>
  </div>
</div>