<div class="section">
  <h5><i class="material-icons">info</i> SOP Info</h5>

  <div class="input-field">
    <input type="text" x-model="title">
    <label class="active">SOP Title</label>
  </div>

  <div class="row">
    <div class="col s6">
      <input type="text" x-model="metadata.sopNumber">
      <label class="active">SOP No</label>
    </div>
    <div class="col s6">
      <input type="date" x-model="metadata.effectiveDate">
      <label class="active">Effective Date</label>
    </div>
  </div>
</div>