<div class="card" x-show="sopMode === 'predefined'">
  <div class="card-content">
    <span class="card-title">
      <i class="material-icons">folder</i> Predefined SOP Templates
    </span>

    <div class="input-field">
      <label class="active">Department</label>
      <select class="browser-default"
              x-model="department"
              @change="departmentChanged">
        <template x-for="dept in CONFIG.DEPARTMENTS" :key="dept.key">
          <option :value="dept.key" x-text="dept.name"></option>
        </template>
      </select>
    </div>

    <div class="input-field">
      <label class="active">SOP Template</label>
      <select class="browser-default"
              x-model="sopKey"
              @change="sopChanged"
              :disabled="sopList.length === 0">
        <option value="">Choose SOP</option>
        <template x-for="sop in sopList" :key="sop.key">
          <option :value="sop.key" x-text="sop.name"></option>
        </template>
      </select>
    </div>

    <div x-show="isLoading" class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>