/* SCREEN */
#preview {
  background: #fff;
  padding: 40px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.no-print {
  display: block;
}

/* PRINT */
@media print {
  body * {
    display: none !important;
  }

  #print-zone,
  #print-zone * {
    display: block !important;
  }

  #preview {
    padding: 0;
  }

  @page {
    margin: 25mm;
  }
}